* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body{
  color: #ffffff;
  background-color: #256D85;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #06283D;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  color: #DFF6FF;
  width: 380px;
  height: 350px;
  padding: 0 10em;
  display: block;
  align-items: center;
  justify-content: center
}

.gerador-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.senha-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
}

.label {
  align-self: flex-start;
  font-size: 20px;
}

#geraSenha {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  margin-top: 1em;
  padding-left: 10px;
}

button {
  align-self: center;
  background-color: #256D85;
  border-color: #9c9c9c;
  border-radius: 4px;
  color: #ffffff;
  height: 30px;
  width: 120px;
  margin-top: 2em;
  font-size: 16px;
}

button:hover {
  transition: 1s;
  background-color: #243147;
  color: #ffffff;
  border-color: #9c9c9c;
  border-radius: 4px;
}

.container-senha {
  text-align: center;
  margin-top: 1rem;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.senha-gerada {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#result {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  margin-top: 1em;
  padding-left: 10px;
}

span {
  color: #ff0000;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
