* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

body{
  text-align: center;
  color: #ffffff;
  background-color: #06283D;
  align-items: center;
}

.container {
  background-color: #256D85;
  margin: 0 40vh;
  border-radius: 10px;
}

.gerador-container {
  text-align: center;
  margin-top: 30vh;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}

.senha-container {
  display: flex;
  flex-direction: column;
}

.label {
  align-self: flex-start;
  font-size: 20px;
}

#geraSenha {
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

button {
  align-self: center;
  background-color: #47B5FF;
  border-color: #ffffff;
  border-radius: 4px;
  color: #ffffff;
  height: 30px;
  width: 120px;
  margin-top: 2em;
  font-size: 16px;
}

button:hover {
  transition: 1s;
  background-color: #4C6793;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 4px;
}

.container-senha {
  text-align: center;
  margin-top: 2em;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.senha-gerada {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#result {
  width: 400px;
  height: 30px;
  border-radius: 5px;
}

#senha {
  margin-bottom: 35px;
  visibility: hidden;
  margin-top: 4vh;
  font-size: 16px;
  word-break: break-all;
  display: inline-block;
  padding: 0 2em;
}
